body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

ul a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 8px;
}

.header, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.footer {
    color: white;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.header p, .header h1, .header a, .header .left-header {
    color: #E5E7EB;
}

.left-header {
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 128px;
    padding-right: 128px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 128px;
    padding-right: 128px;
}

button {
    border-radius: 5px 20px 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    background-color: #3882F6;
}

.title {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
}

.img-container {
    max-width: 200px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;

}

.quote-author-text {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
}

.modal {
    justify-content: center;
    padding: 64px;
}

.modal-container {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 32px;
    gap: 96px;
}

.modal-header {
    font-size: 20px;
    font-weight: bold;
    color:#E5E7EB;
    margin-bottom: 4px;
}

.modal-text {
    color:#E5E7EB
}